@font-face {
     font-family: 'BRRA_R';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRRA_R.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'BRBA_B';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

body{font-size: 13px;color: #483834;
    font-family:"나눔고딕", "NanumGothic", "돋움", "Dotum", sans-serif;}

.content_wrap{}
header{background:url("../img/bg_header.gif") no-repeat 0 0;position:relative;}
.banner{position:relative;}
.br_event{padding:100px 0 50px 0;}
.br_menu{background:url("../img/bg_menu.jpg") no-repeat 50% 0;height:1157px;}
.notice{padding:100px 0 50px 0;}
.sns{padding:50px 0 50px 0;}
.insta{padding:70px 0 100px 0;}
footer{border-top: 1px solid #feaf2b;}
.inner_content{width:1214px;margin:0 auto;}
.inner_content:after{content:"";display:block;clear:both;}
a{color: #483834;}



/* header */
/* top */
header .top{height:136px;border-bottom: 1px solid #e2d9d6;}
.top .sns{float:left;}
.top .sns ul:after{content:"";display:block;clear:both;}
.top .sns li{float:left;margin-right:10px;}
.top .sns li:last-of-type{margin-right:0;}
.top .sns li a{display:block;}
.top .logo{float:left;padding:20px 355px 20px 315px;}
.top .logo a{display:block;}
.top .top_menu{float:left;margin-top: 66px;margin-left:20px;}
.top .top_menu ul:after{content:"";display:block;clear:both;}
.top .top_menu li{float:left;font-size:11px;padding:0 6px;font-weight: 500;}
.top .top_menu li a{display:block;color:#625b59;}
.top .q_button{float:right;margin-top: 40px;}
.top .q_button a{display:block;}

/* menu */
header .main{padding:5px 0;font-family: 'BRRA_R';}
.main .login{float:left;padding:10px 0;}
.main .login:after{content:"";display:block;clear:both;}
.main .login li{float:left;}
.main .login li a{padding-right: 50px;font-size:12px;font-weight:700;letter-spacing:1px;}
.main .login li:nth-of-type(1) a{color:#ff7c98;}
.main .login li:nth-of-type(2) a{color:#6c6c6c;}
.main .gnb{float:right;padding:10px 0;}
.main .gnb:after{content:"";display:block;clear:both;}
.main .gnb li{float:left;}
.main .gnb li a{display:block;height:100%;padding:0 59px;font-size:14px;font-weight:700;}
.main .gnb li:hover a{color:#ff7c98;}
.main .gnb li:nth-of-type(1) a{padding:0 50px 0 20px;}
.main .gnb li:nth-of-type(3) a{padding:0 27px;}
.main .gnb li:last-of-type a{padding-left:59px;padding-right: 31px;}
.depth2{background:#fff;
  position:absolute;top:181px;left:0;width:100%;
  height:0px;overflow:hidden;
  transition: all 0.5s ease 0s;z-index:100;}
.depth2.on{height:279px;}
.depth2 figure{float:left;}
.depth2 figure:nth-of-type(1){margin-top:50px;}
.depth2 figure a{display:block;}
.depth2 .depth2_menu{float:left;margin-left: 58px;}
.depth2_menu ul{float:left;text-align: center;padding-top:40px;}
.depth2_menu ul:nth-of-type(1){margin-right: 216px;}
.depth2_menu ul:nth-of-type(2){margin-right:76px;}
.depth2_menu ul:nth-of-type(3){margin-right:75px;}
.depth2_menu ul li{margin-bottom: 12px;}
.depth2_menu ul li:last-of-type{margin-bottom: 0;}
.depth2_menu ul li a{display:block;padding:5px 10px 5px 8px;color: #7b7b7b;}
.depth2_menu ul li:hover a{color:#ff7c98;}

/* banner */
.top_banner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    transition: all 0.7s linear 0.3s;
    overflow:hidden;
}
.top_banner.over{height:0px;}
.top_banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 854px;
    width: 100%;
}
.top_banner a{display:block;height:100%;}
.sub_banner{background:#5C499B;display:block;text-align: center;}
.sub_banner a{display:block;}

/* 메인 슬라이드 배너 */
.main_banner{position:relative;}
.slide{width:100%;height:100%;overflow:hidden;}
.slide a{display:block;}
.slide_img{width:500%;height:100%;transition:all 0.4s linear 0s;text-align:center;}
.slide_img:after{content:"";display:block;clear:both;}
.slide_img li{float:left;width: 20%;height:100%;}
.slide_img li:nth-of-type(1){background:#5C499B;}
.slide_img li:nth-of-type(2){background:#F74FB4;}
.slide_img li:nth-of-type(3){background:#FFA1B5;}
.slide_img li:nth-of-type(4){background:#7BB0ED;}
.slide_img li:nth-of-type(5){background:#74E1E7;}
.slide_bullet{position:absolute;bottom:0;left:50%;margin-left:-68px;margin-bottom: 40px;}
.slide_bullet:after{content:"";display:block;clear:both;}
.slide_bullet li{float:left;margin:0 10px;}
.slide_bullet li a{display:block;width:10px;height:10px;border-radius: 50%;background:#fff;cursor:pointer;}
.slide_bullet li a.on{width:12px;height:12px;background:#301d17;}
.slide_btn a{display: block;
    position: absolute;
    top: 50%; margin-top: -54px;z-index:10;}
.slide_btn a:nth-of-type(1){left:20px;}
.slide_btn a:nth-of-type(2){right:20px;}

/* br_event */
.br_event h4{text-align:center;font-family: 'BRBA_B';letter-spacing:2px;font-size:17px;color:#ff7c98;font-weight: 700;padding-bottom:50px;}
.br_event a{display:block;}
.event_slide{width:1214px;height:100%;overflow:hidden;}
.event_list{width:2428px;height:100%;transition:all 0.3s linear 0s;}
.event_list:after{content:"";display:block;clear:both;}
.event_list > li{float:left;width:1214px;height:100%;}
.eventlist_content{}
.eventlist_content:after{content:"";display:block;clear:both;}
.eventlist_content li{float:left;margin-right:18px;}
.eventlist_content li:last-of-type{margin-right: 0;}
.eventlist_content li figure{margin-bottom: 18px;}
.eventlist_content li .store_event{color:#edcee2;}
.eventlist_content li .store_event p{display:inline-block;position:relative;bottom:3px;font-family: 'BRRA_R';font-size:11px;font-weight: 700;margin-left: 4px;margin-bottom:10px;}
.eventlist_content li a > p{margin-bottom:10px;font-size:16px;font-family: 'BRRA_R';}
.eventlist_content li span{font-size:11px;font-weight: 300;color: #948780;}
.event_bullet{text-align:center;margin-top:60px;}
.event_bullet ul{display:inline-block;}
.event_bullet ul:after{content:"";display:block;clear:both;}
.event_bullet li{float:left;margin:0 10px;}
.event_bullet li a{display:inline-block;width:8px;height:8px;border-radius: 50%;background:#cdccd5;cursor:pointer;}
.event_bullet li a.on{width:10px;height:10px;background:#301d17;}

/* br_menu */
.br_menu h4{text-align:center;font-family: 'BRBA_B';font-size:17px;letter-spacing:2px;color:#ff7c98;font-weight: 700;padding:75px 0 30px 0;}
.br_menu .menu_list{position:relative;height:100%;}
.menu_list section{background:#fff;box-shadow:5px 5px 5px #ccc;border-radius: 6%;position:absolute;transition:all 0.4s ease 0s;}
.menu_list section:hover{background:#f6c9d2;}
.menu_list section .txt{padding:30px 40px;line-height:1.3;}
.menu_list section .txt h5{font-family: 'BRBA_B';font-size:14px;font-weight: 600;margin-bottom:10px;}
.menu_list section:hover .txt h5{color:#fff;}
.menu_list section .txt p{margin-bottom:20px;font-family: 'BRBA_B';font-size:12px;color:#483843;}
.menu_list section:hover .txt p{color:#fff;}
.menu_list section .txt img{}
.menu_list section .txt span{position:relative;bottom:10px;left:5px;font-size:10px;color:#a7a9aa;}

.menu_list section.icecream{top:26px;left: 319px;}
.menu_list section.icecream a{display:block;width: 395px;height: 302px;}
.menu_list section.icecream .txt h5{color:#ff91bc;}
.menu_list section.icecream a > img:nth-of-type(1){position:absolute;left:50px;top:118px;transition:all 1s ease 0s;}
.menu_list section.icecream:hover a > img:nth-of-type(1){transform:rotate(-15deg);}
.menu_list section.icecream a > img:nth-of-type(2){position:absolute;left:216px;top:-44px;z-index:10;transition:all 0.4s ease 0s;}
.menu_list section.icecream:hover a > img:nth-of-type(2){transform:rotate(10deg);}

.menu_list section.icecreamcake{top:26px;left: 752px;}
.menu_list section.icecreamcake a{display:block;width: 276px;height: 472px;}
.menu_list section.icecreamcake .txt h5{color:#ffe900;}
.menu_list section.icecreamcake a > img{position:absolute;left:68px;top:174px;transition:all 0.4s ease 0s;}
.menu_list section.icecreamcake:hover a > img{transform:translate(10px,-10px);}

.menu_list section.beverage{top: 378px;left: 117px;}
.menu_list section.beverage a{display:block;width: 230px;height: 366px;}
.menu_list section.beverage .txt h5{color:#ff8d9a;}
.menu_list section.beverage a > img{position:absolute;left:50%;top:140px;margin-left:-100px;transition:all 0.4s ease 0s;}
.menu_list section.beverage:hover a > img{transform:translate(-10px,10px);}

.menu_list section.coffee{top: 378px;left: 385px;}
.menu_list section.coffee a{display:block;width: 329px;height: 292px;}
.menu_list section.coffee .txt h5{color:#bb7b4c;}
.menu_list section.coffee a > img{position:absolute;left:138px;top:56px;transition:all 0.4s ease 0s;}
.menu_list section.coffee:hover a > img{transform:translate(0px,10px);}

.menu_list section.dessert{top: 721px;left: 385px;}
.menu_list section.dessert a{display:block;width: 329px;height: 177px;}
.menu_list section.dessert .txt{text-align: right;}
.menu_list section.dessert .txt h5{color:#f489a0;}
.menu_list section.dessert a > img{position:absolute;left:-65px;top:75px;transition:all 0.4s ease 0s;}
.menu_list section.dessert:hover a > img{transform:translate(-10px,10px);}

.menu_list section.gift{top: 560px;left: 752px;}
.menu_list section.gift a{display:block;width: 276px;height: 183px;}
.menu_list section.gift .txt h5{color:#e8669e;}
.menu_list section.gift a > img{position:absolute;left:115px;top:78px;transition:all 0.4s ease 0s;}
.menu_list section.gift:hover a > img{transform:translate(10px,10px);}

/* notice */
.notice a{display:block;}
.notice .store{float:left;}
.notice .order{float:left;}
.notice h4{text-align:center;font-family: 'BRBA_B';font-size:17px;letter-spacing:2px;color:#ff7c98;font-weight: 700;padding-bottom:50px;}

/* sns */
.sns h4{text-align:center;font-family: 'BRBA_B';font-size:17px;letter-spacing:2px;color:#ff7c98;font-weight: 700;padding-bottom:50px;}
.snslink{text-align:center;}
.snslink ul{display:inline-block;}
.snslink ul:after{content:"";display:block;clear:both;}
.snslink ul li{float:left;margin-right:20px;}
.snslink ul li:last-of-type{margin-right:0;}
.snslink ul li img{height:60px;width:60px;}
.snslink ul li a{display:block;}

/* insta */
.insta h5{text-align:center;font-family: 'BRBA_B';font-size:16px;color:#bdb5ab;font-weight: 700;padding-bottom:50px;position:relative;}
.insta h5:before {position:absolute;top: 7px;left: 0px;display: inline-block;text-align: center;content: "";width: 470px;height: 1px;background: #dcd7d1;}
.insta h5:after {position:absolute;top: 7px;right: 0px;display: inline-block;text-align: center;content: "";width: 470px;height: 1px;background: #dcd7d1;}
/* insta_img_slide */
.insta_img{position:relative;}
.insta_img_slide{width:1214px;height:100%;overflow:hidden;}
.list{width:4856px;height:100%;transition:all 0.4s ease 0s;}
.list > li{float:left;width:1214px;}
.list ul{margin-bottom:3.5px;}
.list ul:last-of-type{margin-bottom: 0;}
.list ul:after{content:"";display:block;clear:both;}
.list ul > li{float:left;width:240px;height:240px;margin-right:3.5px;}
.list ul > li:nth-last-of-type(5n){margin-right:0;}
.list ul > li a{display:block;height:100%;}
.list ul > li a img{height:240px;width:240px;}
.button_left{position:absolute;left:0;top:0;width:60px;height:100%;background: rgba(255,255,255,0.6);opacity:0;transition:all 0.3s linear 0s;}
.insta_img:hover .button_left{opacity:1;}
.button_left img{position:absolute;top:50%;margin-top:-30px;}
.button_right{position:absolute;right:0;top:0;width:60px;height:100%;background: rgba(255,255,255,0.6);opacity:0;transition:all 0.3s linear 0s;}
.insta_img:hover .button_right{opacity:1;}
.button_right img{position:absolute;top:50%;margin-top:-30px;}

/* footer */
.foot1{text-align: center;}
.foot1 ul{display:inline-block;}
.foot1 ul:after{content:"";display:block;clear:both;}
.foot1 ul li{float:left;display:block;padding:30px 30px;}
.foot1 ul li a{color: #726454;font-size: 13px;font-weight: 500;}
.foot1 ul li:nth-of-type(5) a{color: #ff7c98;}

.foot2{background:#f5f5f5; }
.foot2:after{content:"";display:block;clear:both;}
.foot2_left{float:left;margin-left:575px;margin-right: 100px;}
.foot2_left:after{content:"";display:block;clear:both;}
.foot2_left li{float:left;padding:20px 20px;}
.foot2_left li:nth-of-type(4){padding:20px 3px 20px 20px;}
.foot2_left li:nth-of-type(5){padding:20px 3px 20px 3px;}
.foot2_left li:nth-of-type(6){padding:20px 3px 20px 3px;}

.foot2_right{float:left;position:relative;top:18px;font-size:10px;width:140px;}
.site{position:relative;height:32px;padding-left: 14px;border-radius: 5px;border: 1px solid #d1cecc;box-sizing:border-box;}
.site > a{font-size:11px;color: #b1ab9f;display:block;height:32px;line-height:32px;width:100%;}
.site > a:after{content: "";border: 6px solid #ff7c98;position: absolute;right: 23px;top: 14px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 4px solid transparent;}
.sitelist{position:absolute;top:32px;left:-1px;width:140px;background:#fff;border-radius: 5px;height:0px;overflow:hidden;transition:all 0.4s ease 0s;}
.sitelist a{display:block;}
.site .sitelist.on{height:263px;border:1px solid #d1cecc;box-sizing:border-box;}
.foot2_right .sitelist li{height:28px;line-height: 28px;}
.foot2_right .sitelist a{display:block;padding-left:14px;font-size:11px;color: #726454;}
.foot2_right .sitelist li:hover {background:#fe7c984d;}

.foot3{text-align:center;padding:50px 0;}

.foot4{text-align:center;font-size:11px;}
.foot4 p{display:inline-block;padding:3px 8px 3px 8px;}
.foot4 address{display:inline-block;}

.foot5{text-align:center;font-size:11px;}
.foot5 p{display:inline-block;padding:3px 8px 3px 8px;}
.copyright{text-align:center;font-size:11px;}
.copyright p{color:#b1adab;padding-top:20px;padding-bottom: 60px;}

/*  */
