body{font-family: 'Noto Sans KR', sans-serif;font-size: 12px;}


.contents_wrap{}
header{padding-top:40px;border-bottom: 1px solid #f2f2f2;position:relative;}
header:after{content:"";display:block;clear:both;}
.banner{width:calc(100% - 70px);height:860px;position:relative;background:url(../img/bg_visual01.png) no-repeat 50% 176px;overflow:hidden;=}
.banner:after{content:"";display:block;clear:both;}
.schedule{width:calc(100% - 70px);position:relative;}
.GGAC{width:calc(100% - 70px);background:#fafafa;}
.intro{width:calc(100% - 70px);position:relative;}
.GGAC_STORY{width:calc(100% - 70px);background:#f2f2f2;}
footer{width:calc(100% - 70px);background:#2d2d2d;}
.inner_con{margin:0 auto;width:1330px;padding:120px 0;}
.inner_con:after{content:"";display:block;clear:both;}


/* header */
header > h1{float:left;width:167px;margin-left:50px;margin-right: 37px;}
header > h2{float:left;width:152px;margin-top: 10px;margin-right: 130px;}
.gnb{float:left;position:relative;top:-16px;}
.gnb:after{content:"";display:block;clear:both;}
.gnb > li{float:left;padding: 24px 52px 33px;padding-bottom:50px;}
.gnb > li:last-of-type{margin-right: 0;}
.gnb > li a{font-size:18px;font-weight:500;}
.submenu{float:right;padding-top: 5px;}
.submenu:after{content:"";display:block;clear:both;}
.submenu b{float:left;height:32px;line-height:32px;width:100px;text-align:center;background-color:#4a4a4a;border-radius:2em;transition:all 0.3s linear 0s;}
.submenu b:hover{background:#fff;border:1px solid #4a4a4a;border-radius:2em;}
.submenu b a{display:block;color:#fff;font-size:14px;font-weight: 400;}
.submenu b:hover a{color:#000;}
.submenu ul{float:left;margin-left: 30px;position:relative;bottom:4px;}
.submenu ul:after{content:"";display:block;clear:both;}
.submenu ul li{float:left;height:38px;line-height:38px;padding-left: 2px;margin-left:6px;}
.submenu ul li a{font-size:13px;font-weight: 300;}
.submenu ul li:nth-of-type(2) a{margin-left:8px;}
.submenu ul li:nth-of-type(2):before{content:"";display:inline-block;width:0.5px;height:10px;background:#000;}
.submenu p{float:left;margin-left:20px;padding:0 10px;}
.submenu p.eng{height:38px;line-height:38px;position:relative;bottom:4px;}
.submenu p.eng a{display:block;height:38px;}
.submenu p.eng img{margin-left:6px;}
.submenu p.search{height:38px;line-height:38px;}
.submenu p.search img{width:22px;height:22px;position:relative;top:5px;}
.submenu p.menu{height:38px;line-height:38px;width:70px;text-align:center;padding:0;}
.submenu p.menu img{width: 24px;height:20px;position:relative;top:5px;}
.depth2 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 124px;
    background: #fafafa;
    z-index: 30;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.depth2.show{height:374px;}
.inner_depth2{padding-top:30px;padding-bottom:40px;transition:all 0.5s ease 0.3s;opacity: 0;transform:translateY(-10px);}
.inner_depth2.show{opacity: 1;transform:translateY(0px);}
.inner_depth2:after{content:"";display:block;clear:both;}
.inner_depth2 > div{float:left;}
.s_banner {margin-left: 240px;margin-right: 161px;}
.list2depth{margin-right: 120px;}
.list2depth:after{content:"";display:block;clear:both;}
.list2depth ul{float:left;padding:0 10px;border-left:1px solid #f2f2f2;}
.list2depth ul:nth-of-type(1){margin-right: 52px;}
.list2depth ul:nth-of-type(2){margin-right: 70px;}
.list2depth ul:nth-of-type(3){margin-right: 65px;}
.list2depth ul:nth-of-type(4){margin-right: 32px;}
.list2depth ul:last-of-type{margin-right:0px;}
.list2depth ul li{margin-bottom: 14px;position:relative;}
.list2depth ul li a{font-size:16px;font-weight:400;color:#5f5f5f;}
.list2depth ul li:hover a{color:#ff8200;}
.list2depth ul li:hover:before{content:"";display:inline-block;width:5px;height:5px;border-radius:50%;background:#ff8200;position:
absolute;left:-13px;bottom:9px;}
.slide{width:210px;height:100%;overflow:hidden;position:relative;}
.slide_list{width:1050px;height:100px;position:relative;left:0;transition:all 0.4s linear 0s;}
.slide_list li{float:left;width:210px;}
.slide_btn{text-align: center;margin-top: 8px;}
.slide_btn:after{content:"";display:block;clear:both;}
.slide_btn ul{display:inline-block;}
.slide_btn li{float:left;width:10px;height:10px;background:#000;border-radius:50%;margin-right:3px;margin-right: 10px;}
.slide_btn li:last-of-type{margin-right: 0;}
.slide_btn li.on{background:#ff8203}

/* banner */
.banner_prev{position:absolute;top:60%;left:0;}
.banner_next{position:absolute;top:60%;right:10px;}
.deco_round{position:absolute;right:232px;top:43px;z-index:20;}
.text_area{position:absolute;left:850px;bottom:0px;}
.detail{position:absolute;left:146px;bottom:150px;}
.detail a{color:#fff;font-size:12px;display:block;}
.detail img{position:relative;bottom:5px;}
.visual_controller{position:absolute;left:146px;bottom:78px;}
.visual_controller figure{position:relative;width:21px;height:21px;}
.visual_controller figure a{position:absolute;top:0;left:0;display:none;}
.visual_controller figure a.on{display:block;}
.continue_bar{position:absolute;bottom:40%;left:34px;margin-top: 8px;width:368px;}
.continue_bar:after{content:"";display:block;clear:both;}
.continue_bar li{float:left;margin-right:6px;}
.continue_bar li:last-of-type{margin-right: 0;}
.continue_bar li:before{content:"";display:block;width:70px;height:3px;background:rgba(256,256,256,0.4);}
.continue_bar li.active:before{background:rgba(256,256,256,1);}
.bannerslide{}
.bannerslide li{opacity:0;transition:all 1s ease 0s;}
.bannerslide li.on{opacity:1;}
.bannerslide .poster{position:absolute;left:410px;top:43px;width:545px;}
.bannerslide .in_text{position:absolute;top:275px;left:995px;color:#fff;opacity:0;transition:all 1s ease 0.3s;}
.bannerslide li.on .in_text{opacity:1;}
.in_text p{font-size:18px;margin-bottom: 16px;}
.in_text p:nth-of-type(2){margin-bottom: 50px;}
.in_text h4{font-size:44px;margin-bottom: 40px;}
.in_text b{font-size:25px;display:block;}
.in_text b:last-of-type{margin-bottom:80px;}


/* schedule */
.schedule h3{font-size:40px;font-weight: 500;text-align:center;margin-bottom: 50px;}
.schedule_list{margin-bottom: 50px;}
.schedule_list a{font-size:16px;display:block;width:100%;}
.schedule_list:after{content:"";display:block;clear:both;}
.schedule_list_d{border-top:1px solid #d8d7dc;border-bottom:1px solid #d8d7dc;float:left;width:800px;padding:8px 0;position:relative;}
.schedule_list_d:after{content:"";display:block;clear:both;}
.year{float:left;display:block;margin:0 30px 0 14px;position:relative;padding:5px 10px 5px 10px;}
.year > li img{width: 10px;height:4px;padding-bottom:3px;margin-left: 10px;}
.year ul{position:absolute;top:35px;left:-1px;background:#fff;z-index:20;transition:all 0.4s linear 0s;height:0px;overflow:hidden;}
.year ul.show{height:72px;}
.year ul li{padding:5px 30px 5px 10px;}
.year ul.show li{border:1px solid #d8d7dc;}
.dateTab{float:left;margin-right: 30px;margin-top:4px;}
.dateTab:after{content:"";display:block;clear:both;}
.dateTab li{float:left;margin-right: 16px;}
.dateTab li:nth-of-type(1) a{color:#d6498c;text-decoration:underline;text-decoration-color:#d6498c;}
.dateTab li:last-of-type{margin-right:0;}
.dateTab li:hover{text-decoration:underline;text-decoration-color:#d6498c;}
.dateTab li a:hover{color:#d6498c; }
.monthBtn{float:left;margin-right: 30px;margin-top:4px;}
.monthBtn:after{content:"";display:block;clear:both;}
.monthBtn li{float:left;margin-right: 16px;}
.monthBtn li.on a{color:#d6498c;text-decoration:underline;text-decoration-color:#d6498c;}
.monthBtn li:last-of-type{margin-right:0;}
/* 전체보기 ul */
.schedule_list .select{float:right;display:block;border:1px solid #d8d7dc;position:relative;padding:10px 25px 10px 15px;}
.schedule_list .select li img{margin-left: 56px;}
.schedule_list .select ul{position:absolute;top:46px;left:-1px;z-index:30;background:#fff;border:1px solid #fff;transition:all 0.4s linear 0s;height: 0px;overflow:hidden;}
.schedule_list .show_list.show{height:186px;overflow:hidden;border:1px solid #d8d7dc;}
.schedule_list .show_list li{padding:10px 2px 10px 15px;width:155px;}


/* 공연리스트 */
.sch_content{width:1330px;height:100%;overflow:hidden;}
.sch_content a{color:#656565;}
.sch_contentlist{width:15960px;;height:100%;position:relative;left:0;transition: all 0.4s linear 0s;}
.sch_contentlist:after{content:"";display:block;clear:both;}
.sch_contentlist ul{float:left;width:1330px;}
.sch_contentlist ul:after{content:"";display:block;clear:both;}
.sch_contentlist ul li{float:left;margin-right:10px;}
.sch_contentlist ul li:last-of-type{margin-right:0;}
.sch_contentlist ul li figure{width:325px;height:380px;margin-bottom:20px;position:relative;}
.sch_contentlist ul li figure img{width:325px;height:380px;}
.sch_contentlist ul li figure b{position:absolute;bottom:0;left:0;padding:8px 40px;background: #808080;background-color: rgba(128,128,128,.85);color:#fff;font-weight: 300;}
.sch_contentlist ul li figure i{position:absolute;bottom:0;left:0;padding:8px 40px;background: #5100e5;background-color: rgba(81,0,229,.72);color:#fff;font-weight: 300;}
.sch_contentlist ul li h6{font-size:18px;margin-bottom: 10px;color:#27272a;}
.sch_contentlist ul li p{font-size:14px;margin-bottom: 6px;}
.sch_contentlist ul li p:last-of-type{margin-bottom: 0;}
.schedule figure.prev{position:absolute;top:60%;left:140px;}
.schedule figure.next{position:absolute;top:60%;right:140px;}

/* GGAC */
.GGAC_NEWS{float:left;width:926px;}
.GGAC_NEWS:after{content:"";display:block;clear:both;}
.GGAC_NEWS h5{font-size:26px;font-weight: 500;float:left;margin-right: 10px;}
.GGAC_NEWS > img{float:left;margin-right: 80px;position:relative;top:5px;}
.GGAC_NEWS .menu{float:right;margin-left: 100px;margin-top: 2px;}
.GGAC_NEWS .menu:after{content:"";display:block;clear:both;}
.GGAC_NEWS .menu li{float:left;margin-right:30px;font-size:16px;padding:1px 12px;}
.GGAC_NEWS .menu li a{display: block;width:100%;height:100%;text-align:center;line-height:30px;}
.GGAC_NEWS .menu li.on{border-radius:2em;}
.GGAC_NEWS .menu li:nth-of-type(1).on{background:#4a4a4a;}
.GGAC_NEWS .menu li:nth-of-type(2).on{background:#4a4a4a;}
.GGAC_NEWS .menu li:nth-of-type(3).on{background:#2951b9;}
.GGAC_NEWS .menu li:nth-of-type(4).on{background:#527f3b;}
.GGAC_NEWS .menu li:nth-of-type(5).on{background:#d72872;}
.GGAC_NEWS .menu li.on a{color:#fff;}
.GGAC_NEWS .menu li:last-of-type{margin-right:0;}
.GGAC_NEWS .inform{float:left;margin-top: 26px;}
.GGAC_NEWS .inform:after{content:"";display:block;clear:both;}
.inform_tab{position:relative;width:926px;height:306px;}
.informlist{position:absolute;opacity:0;transition:all 0.2s linear 0s;}
.informlist.on{opacity:1;}
.informlist:after{content:"";display:block;clear:both;}
.informlist li{float:left;border:1px solid #d1d1d1;width:260px;height:126px;margin-right:10px;padding:10px 20px;}
.informlist li:nth-of-type(3n){margin-right: 0;}
.informlist li:nth-of-type(1){margin-bottom:10px;}
.informlist li:nth-of-type(2){margin-bottom:10px;}
.informlist li:nth-of-type(3){margin-bottom:10px;}
.informlist li p{font-size: 14px;padding:4px 8px;display:inline-block;margin-top: 6px;margin-bottom: 10px;}
.informlist li p.Agency{border:1px solid #383838;color:#383838;}
.informlist li p.ticket{border:1px solid #541cbe;color:#541cbe;}
.informlist li p.Gyeonggi{border:1px solid #527f3b;color:#527f3b;}
.informlist li p.review{border:1px solid #d72872;color:#d72872;}
.informlist li dl dt{font-size:14px;margin-bottom: 15px;}
.informlist li dl dt span{margin-left:2px;}
.informlist li dl dd span{float:right;}
.GGAC_notice{margin-bottom: 4px;float:right;position:relative;width:307px;height:100%;}
.GGAC_notice h5{font-size:26px;font-weight: 500;margin-bottom: 26px;}
.notice_slide{width:100%;height:100%;overflow: hidden;}
.notice_slidelist{width:400%;position:relative;left:0;transition:all 0.4s linear 0s;}
.notice_slidelist:after{content:"";display:block;clear:both;}
.notice_slidelist li{float:left;width:25%;}
.notice_slidelist li img{width: 307px;height:303px;}
.notice_btn .notice_prev{position:absolute;top:63px;right:68px;}
.notice_btn .notice_pause{position:absolute;top:63px;right:34px;}
.notice_btn .notice_next{position:absolute;top:63px;right:0;}
.GGAC_list{float:left;margin-top:80px;}
.GGAC_list:after{content:"";display:block;clear:both;}
.GGAC_list li{float:left;margin-right: 11px;}
.GGAC_list li:last-of-type{margin-right: 0;}
.GGAC_list li a img{width:436px;height:189px;}

/* 경기도예술단소개 */
.intro_top:after{content:"";display:block;clear:both;}
.intro_top h3{float:left;font-size:40px;font-weight: 500;}
.intro_menu{float:right;margin-top:20px;}
.intro_menu:after{content:"";display:block;clear:both;}
.intro_menu li{float:left;margin-right: 25px;padding:4px 12px;}
.intro_menu li:last-of-type{margin-right: 0;}
.intro_menu li a{font-size:18px;color:#5f5f5f;}
.intro_menu li.on{background:#541cbe;border-radius:2em;}
.intro_menu li.on a{color:#fff;}
.intro_content{margin-top:50px;position:relative;height:642px;}
.intro_content > img{width:825px;height:600px;position:absolute;
bottom:0;left:294px;}
/* 슬라이드 */
.intro_slide{width:1270px;height:642px;overflow:hidden;}
.intro_slidelist{width:6350px;height:100%;position:relative;left:0;transition:all 0.4s linear 0s;}
.intro_slidelist:after{content:"";display:block;clear:both;}
.intro_slidelist > li{float:left;width:1270px;height:100%;position:relative;left:0;}
.intro_slidelist li > img{width:870px;position:absolute;
top:0;left:0;}
.wh_textzone{position:absolute;bottom:50px;right:60px;z-index:10;}
.wh_textzone > img{width:500px;height:430px;}
.wh_textzone .text{position:absolute;left:50px;top:40px;margin-right:50px;}
.text h3{font-size: 34px;font-weight: 500;margin-bottom: 30px;}
.text p:nth-of-type(1){font-size:20px;margin-bottom: 23px;}
.text p:nth-of-type(2){font-size:15px;margin-bottom: 40px;}
.intro .btn{position:absolute;right: 629px;bottom: 220px;z-index: 30;}
.intro .btn a{margin-right: 30px;display:inline-block;height:100%;}
.intro .btn .intro_next{margin-right: 0;}
.intro figure.left{position:absolute;left: -73px;bottom: 138px;}
.intro figure.right{position:absolute;right: -28px;bottom: 83px;}

/* GGAC STORY */
.GGAC_STORY .inner_con{padding:100px 0;}
.GGAC_STORY h5{font-size:28px;font-weight: 600;text-align: center;margin-bottom: 30px;}
.sns_menu{padding:0 240px;margin-bottom: 40px;}
.sns_menu:after{content:"";display:block;clear:both;}
.sns_menu li{float:left;margin-right: 50px;}
.sns_menu li:last-of-type{margin-right: 0;}
.sns_menu li a{display:block;width:100%;height:44px;}
.sns_menu li img{margin-right:10px;}
.sns_menu li p{font-size:15px;display:inline-block;position:relative;bottom:12px;}
.story_insta{float:left;width:866px;height:260px;position:relative;overflow:hidden;}
.insta_link{width:3464px;height:260px;position:relative;left:0;transition:all 0.4s ease 0s;}
.insta_link:after{content:"";display:block;clear:both;}
.insta_link > li{float:left;width:866px;}
.instalink_list:after{content:"";display:block;clear:both;}
.instalink_list li{float:left;margin-right:25px;position:relative;height:260px;}
.instalink_list li:last-of-type{margin-right: 0;}
.instalink_list li figure{position:absolute;bottom:0;left:0;}
.instalink_list li figure img:nth-of-type(2){position:absolute;bottom:30px;right:14px;}
.instalink_list li figure p{position:absolute;bottom:9px;left:13px; color:#777;
}

.GGAC_STORY .btn{display: inline-block;padding: 0 280px;margin-top: 25px;margin-left: 6px;}
.GGAC_STORY .btn:after{content:"";display:block;clear:both;}
.GGAC_STORY .btn li{float:left;margin-right: 60px;}
.GGAC_STORY .btn li:nth-of-type(1) img{margin-right: 30px;}
.GGAC_STORY .btn li:nth-of-type(2) img{margin-left: 30px;}
.GGAC_STORY .btn li a{color:#5f5f5f;}
.GGAC_STORY .btn  p{display:inline-block;position:relative;bottom:1px;}
.story_utube{float:right;}
.story_utube iframe {height:260px;width:460px;}

/* footer */
footer{padding: 80px 0;}
footer .inner_con{padding:0;}
.foot_top{margin-bottom: 80px;}
.foot_top:after{content:"";display:block;clear:both;}
.foot_top .inner_con> ul{}
.foot_top .inner_con> ul:after{content:"";display:block;clear:both;}
.foot_top .inner_con> ul > li{float:left;color:#fff;font-size:20px;margin-right: 100px;}
.foot_top .inner_con> ul > li:last-of-type{margin-right: 0;}
.foot_top .inner_con> ul > li > ul{margin-top: 20px;}
.foot_top .inner_con> ul > li > ul > li{font-size: 16px;font-weight: 300;margin-bottom: 10px;}
.foot_top .inner_con> ul > li > ul > li a{color:#c0c0cf;font-size:14px;}
.foot_top .inner_con> ul > li > ul > li:hover a{color:#ff8200;}
.foot_bottom{padding:40px 0;border-top:0.01px solid #bbb;}
.foot_bottom:after{content:"";display:block;clear:both;}
.foot_bottom .inner_con > div{float:left;}
.foot_bottom1{margin-right: 75px;}
.foot_bottom1 p{padding:20px 10px;}
.foot_bottom1 p:nth-of-type(1){padding-top:0;}
.foot_bottom2{margin-right: 100px;}
.foot_bottom2 ul{margin-bottom:30px;}
.foot_bottom2 li{display:inline-block;padding-left:20px;}
.foot_bottom2 li:before{content:"";display:inline-block;width:1px;height:10px;background:#c0c0cf;}
.foot_bottom2 li:nth-of-type(1){padding-left:0;}
.foot_bottom2 li:nth-of-type(1):before{display:none;}
.foot_bottom2 li a{font-size:14px;color:#c0c0cf;margin-left:20px}
.foot_bottom2 li:nth-of-type(1) a{margin-left:0;}
.foot_bottom2 address{font-size:13px;font-weight: 300;color:#c0c0cf;margin-bottom:8px;}
.foot_bottom2 address p{margin-bottom:8px;}
.foot_bottom2 address span{margin-right: 6px;}
.foot_bottom2 > p{font-size:13px;font-weight: 300;color:#c0c0cf;}
.foot_bottom3 p{margin-bottom:20px;padding:12px 20px;background:#444444;position:relative;}
.foot_bottom3 p a{color:#fff;font-size:15px;}
.foot_bottom3 p:after {
    content: "";
    border: 10px solid #ff8200;
    position: absolute;
    right: 26px;
    top: 18px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid transparent;}
.foot_bottom3 .snsList{}
.foot_bottom3 .snsList:after{content:"";display:block;clear:both;}
.foot_bottom3 .snsList li{float:left;width:32px;height:32px;background:#444444;border-radius:50%;margin-right:8px;}
.foot_bottom3 .snsList li img{width:16px;padding-top:7px;padding-left:8px;}
/*
.foot_bottom3 .snsList li{float:left;width:46px;height:46px;background:#444444;border-radius:50%;margin-right:5px;text-align: center;line-height: 46px;}
.foot_bottom3 .snsList li a{display:block;height:100%;} */


/* quick_menu */
aside{position:fixed;right:0;top:140px;z-index:50;}
.qmenu li{width:70px;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;box-sizing:border-box;background:#fff;text-align:center;}
.qmenu li:nth-of-type(1){border-top:1px solid #f2f2f2;box-sizing:border-box;}
.qmenu li a {
    display: block;
    width: 70px;
    padding-bottom: 9px;
}
.qmenu li img{margin-top:15px;padding:5px 0;}
.qmenu li p{overflow:hidden;height:0px;transition:all 0.6s ease 0s;}
.qmenu li:hover p{height:18px;}
/* .qmenu li:hover p{display:block;} */
.snslist li{width:70px;height:70px;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;box-sizing:border-box;background:#fff;text-align:center;}
.snslist li img{margin-top:10px;padding:10px 0;}
.snslist li p{display:none;}
.snslist li:hover p{display:block;}
aside figure{width:70px;height:70px;border-left:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;box-sizing:border-box;line-height:70px;background:#fff;text-align:center;}
aside figure a{display:block;width:70px;height:70px}
